language: php

# Use container-based infrastructure
sudo: false

php:
  - 7.2

before_script:
  - cp .env.travis .env
  - echo "\n\n\n\n\n\n\n\n\n" | pecl install pecl_http
  - composer self-update
  - composer install --no-interaction
  - touch database/sqlite.db
  - php artisan migrate --seed --database=sqlite
  - php artisan jwt:secret

script:
  - vendor/bin/phpunit