language: php

# Use container-based infrastructure
sudo: false

php:
  - 7.2

before_script:
  - cp .env.travis .env
  - composer self-update
  - composer install --no-interaction
  - touch database/sqlite.db
  - php artisan migrate --seed

script:
  - vendor/bin/phpunit